Rasper::Config.configure do |config|
  config.jar_dir = Rails.root.join('java')
  config.jasper_dir = Rails.root.join('report')
  config.image_dir = Rails.root.join('report')
  config.locale = 'pt_BR'
end
